<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYaBM9-o6VyMUQLiwQH1dXzxIZkL-HPSo</string>
	<key>GCM_SENDER_ID</key>
	<string>1031540536083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tudoAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>tudoapp-f1cef</string>
	<key>STORAGE_BUCKET</key>
	<string>tudoapp-f1cef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031540536083:ios:96049f726f857db26de0e6</string>
</dict>
</plist>